* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  }

.wrapper {
    height: 100vh;
    width: 100vw;
}

.card-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    height: 450px;
    border: 2px solid #ffffff30;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: #ffffff1a;
    backdrop-filter: blur(15px);
    border-radius: 15px;
    color: #ffffff;
    padding: 20px 50px;
}

img {
    border: 2px solid #ffffff30;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 28%;
    margin-bottom: 26px;
}

.designation h3 {
    text-align: center;
    color: #ffffff85;
    margin: 20px;
}

.circle1 {
    position: absolute;
    top: 5%;
    left: 30%;
    width: 13em;
    height: 13em;
    border-radius: 50%;
    box-shadow: 0 0 50px #d84869;
    background: linear-gradient(-25deg, #d84869, #f46641);
    animation: circle1Animate 15s infinite;
}

  
.circle2 {
    position: absolute;
    bottom: 5%;
    right: 30%;
    width: 13em;
    height: 13em;
    border-radius: 50%;
    box-shadow: 0 0 50px #5648d8;
    background: linear-gradient(-25deg, #5648d8, #8641f4);
    animation: circle2Animate 8s infinite;
}

@keyframes circle1Animate {
    50% {
      left: 33%;
      top: 4%;
      scale: 1.11;
    }
}

@keyframes circle2Animate {
    50% {
      bottom: 6%;
      right: 31%;
}
}

h2 {
    font-size: 2rem;
    text-align: center;
}

  .bottom-group {
    display: flex;
    justify-content:space-between;
    gap: 10px;
}
  .btn-share {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    padding: 9px 12px;
    background: #ffffff00;
    border: 2px solid #ffffffb9;
    text-transform: capitalize;
    border-radius: 4px;
    color: #ffffffb9;
    cursor: pointer;
}

  .btn-follow {
    text-transform: capitalize;
    width: 150px;
    padding: 9px 12px;
    background: #ffffff00;
    border: 2px solid #ffffffb9;
    border-radius: 4px;
    color: #ffffffb9;
    cursor: pointer;
    transition: all 0.5s;
}
  .btn-card:hover {
    background: #ffffffb9;
    color: #131313;
}
